:root {
	/* dark theme */
	--theme-background: #222;
	--theme-primary: #eee;
	--theme-secondary: #aaa;
	--theme-uicolor: green;
	--theme-accent: #fff;
	/* light theme
	--theme-background: #fff;
	--theme-primary: #222;
	--theme-secondary: #555;
	--theme-uicolor: lightgreen;
	--theme-accent: #000; */
	background: var(--theme-background);
	color: var(--theme-primary);
	font-family: sans-serif;
}
#game-area {
	border: 1px solid var(--theme-accent);
	padding: 5px;
}
#title-screen * {
	text-align: center;
}
#game-description {
	font-style: italic;
	color: var(--theme-secondary);
}
#play-button {
	display: block;
	margin: 5px auto;
	padding: 5px 10px;
	background: var(--theme-uicolor);
	color: var(--theme-primary);
	border-radius: 5px;
	border: 1px solid var(--theme-accent);
}
#play-button:disabled {
	opacity: 50%;
}
