/* whole boi */
:root {
	background: var(--theme-background);
	color: var(--theme-primary);
	font-family: sans-serif;
}
#theme-choice {
	margin-bottom: 10px;
}
#game-area {
	border: 1px solid var(--theme-accent);
	padding: 10px;
}
.screen-title {
	text-align: center;
}
.hidden {
	display: none !important;
}
select {
	background-color: var(--theme-background);
	color: var(--theme-primary);
	border-color: var(--theme-accent);
}
/* continue buttons */
button {
	padding: 5px 10px;
	background: var(--theme-uicolor);
	color: var(--theme-primary);
	border-radius: 5px;
	border: 1px solid var(--theme-accent);
}
button:hover {
	background: var(--theme-uihover);
	border-color: var(--theme-accent-hover);
}
.continue:disabled {
	background: var(--theme-uicolor);
	border-color: var(--theme-accent);
	opacity: 50%;
}

/* title screen */
#title-screen * {
	text-align: center;
}
#game-description {
	font-style: italic;
	color: var(--theme-secondary);
}
#play-button {
	display: block;
	margin: 5px auto;
}

/* backstory screen */
#backstory-screen p {
	text-indent: 2em;
}
#backstory-screen img {
	height: 300px;
}
#sanitize-poster {
	float: right;
}
#backstory-screen .continue {
	display: block;
	margin-top: 10px;
	margin-left: auto;
}

/* news source */
.news-wrapper {
	margin: 5px;
	border-radius: 5px;
	border: 1px solid var(--theme-accent);
	padding: 5px;
}
.news-image {
	margin-right: 1em;
	margin-bottom: 5px;
	height: 6em;
	float: left;
}
.news-cancel {
	clear: left;
	display: block;
	background-color: var(--theme-madcolor);
	border-color: var(--theme-accent);
	color: var(--theme-primary);
}
.news-cancel:hover {
	background-color: var(--theme-madhover);
	border-color: var(--theme-accent-hover);
}
#news-half, #decision-half {
	margin: 5px;
	flex-grow: 1;
	flex-basis: 50%;
}

#decision-half {
	margin-left: auto;
}

/* decisions */
#decision-screen {
	display: flex;
	flex-direction: row;
}

#decision-image {
	max-height: 400px;
}

/* result */
#result-image {
	max-height: 15em;
	float: left;
	margin-right: 1em;
}
#result-list {
	position: relative;
	left: 1em;
}
#result-button {
	clear: left;
	display: block;
	margin-left: auto;
}
